.checkstyle
.classpath
.externalToolBuilders
.idea
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
.pmd
.project
.ruleset
.settings
classes
checkouts
ehcache.disk.store.dir
lib
media
reports
target
pom.xml
release.properties
*.class
*.log
*.jar
bin
